*.data
*.html 
*.js 
*.wasm

release/*.wasm
release/*.js
*.o
ressource/*
src/tags
.vscode
!docs/*
/x64
/WASteroids.vcxproj.user
/WASteroids.vcxproj.filters
/WASteroids.vcxproj
/WASteroids.sln
/WASteroids.vcxproj.user
/WASteroids.vcxproj.filters
/WASteroids.vcxproj
/WASteroids.sln
/.vs/WASteroids/v16
