*.data
*.html 
*.js 
*.wasm

release/*.wasm
release/*.js
*.o
ressource/*
src/tags
.vscode
.vs
x64
Debug
!docs/*
/WASteroids.vcxproj.user
/WASteroids.vcxproj.filters
/WASteroids.vcxproj
/WASteroids.sln
